@media only screen and (min-width: 800px) {
    /* body {
      background-color: lightblue;
    } */
    .header-wrapper button{
        display: none;
    }
    .header-wrapper .navbar{
        display: block;
        margin-top: 10px;
    }
    .navbar a{
        text-decoration: none;
        color: black;
        opacity: .9;
        margin: 5px;
    }
    #nav{
        display: none;
    }
    .hero-wrapper{
        display: flex;
        justify-content: space-between
    }
    .hero-image{
        width: 50%;
        margin-top: 15px;
        margin-left: 10%
    }
    .hero-intro{
        width: 50%;
        margin-right: 10%;
        padding-top: 5%;
        padding-left: 5%;
    }

    .about-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .about-image{
        width: 50%;
        margin-top: 20px;
        margin-left: 10%
    }
    .about-text{
        width: 40%;
        padding-top: 5px;
        margin-left: 15%;
    }
    .service-wrapper{
        display: flex;
        justify-content: space-evenly;
        /* margin-left:20%;
        margin-right: 20%; */
        width: 60%
    }
    .skill{
        /* width: fit-content; */
        margin: 0 auto;
        padding-top: 10px;
    }
    .skill-wrapper{
        display: flex;
        justify-content: center;
        background: #f3f4f5;
        width: fit-content;
    }
    .skill-section p{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .column{
        width: 300px;
        margin: 0px 40px;
    }
    .experience-wrapper{
        display: flex;
        padding: 0 10%;
    }
    .experience-column{
        margin: 0 08px;
    }
    .testimonial-wrapper{
        display: flex;
        padding: 0 10%;
    }
    .testimonial-column{
        margin: 0 8px;
    }
    .contact-wrapper{
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .form{
        width: 400px;
    }
    .contact-text{
        margin-top: 50px;
        margin-left: 10px;
        width: 400px;
    }
    .portfolio-wrapper{
        display: flex;
        justify-content: center;
    }
    .portfolio-column{
        width: 190px;
        margin: 0 2px;
    }
    .img1{
        width: 190px;
    }
    .portfolio-column img{
        width: 190px;
    }
    /* .img2 img{
        width: 220px;
    }
    .img3 img{
        width: 220px;
    }
    .img4 img{
        width: 220px;
    }
    .img5 img{
        width: 220px;
    }
    .img6 img{
        width: 220px;
    }
    .img7 img{
        width: 220px;
    }
    .img8 img{
        width: 220px;
    } */
  }

  
  